<div class="produto-card" role="button" tabindex="0"
     @onclick="HandleClick">
    <img class="produto-card-img"
         src="@Produto.UrlImagem"
         alt="@Produto.Nome" />

    <div class="produto-card-body">
        <div class="produto-card-title">@Produto.Nome</div>

        <div class="produto-card-footer">
            <span class="produto-card-preco">€ @Produto.Preco.ToString("0.00")</span>

            @if (Produto.Promocao)
            {
                <span class="badge bg-danger">Promoção</span>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public ProdutoDTO Produto { get; set; } = default!;
    [Parameter] public EventCallback<ProdutoDTO> OnClick { get; set; }

    private Task HandleClick() => OnClick.InvokeAsync(Produto);
}