@using Microsoft.AspNetCore.Components.Authorization

@using RCLComum.Shared
@using RCLProdutos.Pages
@using RCLCompras.Pages

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly"
            AdditionalAssemblies="new[]
                        {
                            typeof(RCLComum.Shared.MainLayout).Assembly,
                            typeof(RCLComum.Pages.Login).Assembly,
                            typeof(RCLProdutos.Pages.Produtos).Assembly,
                            typeof(RCLProdutos.Pages.Destaques).Assembly,
                            typeof(RCLProdutos.Pages.ProdutoDetalhe).Assembly,
                            typeof(RCLCompras.Pages.Carrinho).Assembly,
                            typeof(RCLCompras.Pages.Checkout).Assembly,
                            typeof(RCLCompras.Pages.Encomendas).Assembly
                        }">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToAccessDenied />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>

        <NotFound>
            <LayoutView Layout="typeof(MainLayout)">
                <p class="alert alert-warning mt-5">Página não encontrada.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>